<html>
<head>
<title>homehyperlink</title>
<style>
Body
{
 font-family: "Courier New", Courier, monospace;
 background-color: white;
 margin: 0;
 padding: 20px;
}
</style>
</head>
<body>

<table>
<tr>
<td>
<img src ="shop.jpg" alt = "home" width="300" height="200">
</td>
<td>
<b>SanDisk Cruze Blade SDCZ50 64 GB Pen Drive</b><br>
<b>MRP: ₹423</b><br>
Highlights:- USB 2.0|64 GB<br>
Plastic<br>
For Desktop Computer, Laptop, Television<br>
Color: Red, Black<br>
inclusive all  taxes<br><br>
<button>add to cart</button>
</td>
</tr>
</table>

<table>
<tr>
<td>
<img src ="shop1.jpg" alt = "home" width="300" height="200">
</td>
<td>
<b>Canon EOS M50 Mark II Mirrorless Camera EF-M15-45mm is STM Lens</b><br>
<b>MRP: ₹10,599</b><br>
Highlights: 4K and vertical movies, Live YouTube streaming, Auto video transcoding, Use as a webcam, Great in low light, 10fps continuous shooting, 3.5mm external microphone input, Full HD movie at 60p, pair the camera with your smartphone via Wi-Fi or Bluetooth to perform remote shooting, a handy trick for taking group photos.<br>
Effective Pixels: 24.1 MP<br>
Sensor Type: CMOS<br>
WiFi Available<br>
MP4<br>
inclusive all  taxes<br><br>
<button>add to cart</button>
</td>
</tr>
</table>

<table>
<tr>
<td>
<img src ="shop2.jpg" alt = "home" width="300" height="200">
</td>
<td>
<b>HP LaserJet Pro MFP M126nw Multi-function WiFi Monochrome Laser Printer  (Black, Toner Cartridge)</b><br>
<b>MRP: ₹21,116</b><br>
Highlights: Output: Color<br>
USB | USB<br>
Cost per Page (Black): 10 Paise | Cost per Page (Color): 20 Paise<br>
inclusive all  taxes<br><br>
<button>add to cart</button>
</td>
</tr>
</table>

<table>
<tr>
<td>
<img src ="shop3.jpg" alt = "home" width="300" height="200">
</td>
<td>
<b>APPLE iPhone 14 (Midnight, 128 GB)</b><br>
<b>MRP: ₹60,499</b><br>
Highlights:-128 GB ROM<br>
15.49 cm (6.1 inch) Super Retina XDR Display<br>
12MP + 12MP | 12MP Front Camera<br>
A15 Bionic Chip, 6 Core Processor Processor<br>
inclusive all  taxes<br><br>
<button>add to cart</button>
</td>
</tr>
</table>

</body>
<html>